<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Lista de Atletas</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Nombre_Atleta</td>
        <td>Apellido_Atleta</td>
        <td>Edad</td>
        <td>Categoria</td>
        <td>Club Nombre</td>
    </tr>

    <tr th:each="listaratletasadulto: ${listaratletasadulto}">
        <td th:text="${listaratletasadulto.idAtleta}"></td>
        <td th:text="${listaratletasadulto.nombreAtleta}"></td>
        <td th:text="${listaratletasadulto.apellidoAtleta}"></td>
        <td th:text="${listaratletasadulto.edadAtleta}"></td>
        <td th:text="${listaratletasadulto.categoria}"></td>
        <td th:text="${listaratletasadulto.club.nombreClub}"></td>
        <td>
            <a th:href="@{/detalleatleta/}+${listaratletasadulto.idAtleta}">DETALLE</a>
            <a th:href="@{/editAtleta/}+${listaratletasadulto.idAtleta}">EDITAR</a>
            <a th:href="@{/elimAtleta/}+${listaratletasadulto.idAtleta}">ELIMINAR</a>
        </td>
    </tr>



</table>
<a href="/">HOME</a>
</body>
</html>
<style>
    body{
        background-color: #999999;
    }
</style>