<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina principal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-sm-6 col-sm-offset-3">
    <h1 class="container">Pagina principal</h1>


    <div>
        <h1> <a class="btn btn-info" href="club/new" role="button">REGISTRAR CLUB</a></h1>
        <h1><a class="btn btn-info" href="listarclubs" role="button">LISTAR CLUBS</a></h1>
        <h1><a class="btn btn-info" href="atleta/new" role="button">REGISTRAR ATLETA</a></h1>
        <h1><a class="btn btn-info" href="listaratletas" role="button">LISTAR ATLETAS</a></h1>
        <h1><a class="btn btn-info" href="municipio/new" role="button">REGISTRAR MUNICIPIO</a></h1>
        <h1><a class="btn btn-info" href="listar" role="button">LISTAR MUNICIPIOS</a></h1>
        <h1><a class="btn btn-info" href="listaratletasinfantil" role="button">LISTAR ATLETAS CATEGORIA INFANTIL</a></h1>
        <h1><a class="btn btn-info" href="listaratletasadulto" role="button">LISTAR ATLETAS CATEGORIA ADULTO</a></h1>
        <h1><a class="btn btn-info" href="listaratletasprofecional" role="button">LISTAR ATLETAS CATEGORIA PROFESIONAL</a></h1>
        <!--
        <h1><a class="btn btn-info" href="listaratletascategoriamunicipio" role="button">LISTAR ATLETAS CATEGORIA Y MUNICIPIO</a></h1>
        -->
    </div>

</div>
</body>
</html>