<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <b>Nombre Categoria: </b>
    <input type="text" name="categoriaBuscada"/>
</div><br/>

<div>
    <b>Id Municipio: </b>
    <input type="text" name="idMunicipioBuscado"/>
</div><br/>


<h1>Lista de Atletas</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Nombre_Atleta</td>
        <td>Apellido_Atleta</td>
        <td>Edad</td>
        <td>Categoria</td>
        <td>Club Nombre</td>
    </tr>

    <tr th:each="listaratletascategoriamunicipio. ${listaratletasprofecional}">
        <td th:text="${listaratletascategoriamunicipio.idAtleta}"></td>
        <td th:text="${listaratletascategoriamunicipio.nombreAtleta}"></td>
        <td th:text="${listaratletascategoriamunicipio.apellidoAtleta}"></td>
        <td th:text="${listaratletascategoriamunicipio.edadAtleta}"></td>
        <td th:text="${listaratletascategoriamunicipio.categoria}"></td>
        <td th:text="${listaratletascategoriamunicipio.club.nombreClub}"></td>
        <td>
            <a th:href="@{/detalleatleta/}+${listaratletascategoriamunicipio.idAtleta}">DETALLE</a>
            <a th:href="@{/editAtleta/}+${listaratletascategoriamunicipio.idAtleta}">EDITAR</a>
            <a th:href="@{/elimAtleta/}+${listaratletascategoriamunicipio.idAtleta}">ELIMINAR</a>
        </td>
    </tr>



</table>
<a href="/">HOME</a>
</body>
</html>
<style>
    body{
        background-color: #999999;
    }
</style>