<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Lista de Atletas</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Nombre_Atleta</td>
        <td>Apellido_Atleta</td>
        <td>Edad</td>
        <td>Categoria</td>
        <td>idClub</td>
    </tr>

    <tr th:each="listarAtleta: ${listarAtleta}">
        <td th:text="${listarAtleta.idAtleta}"></td>
        <td th:text="${listarAtleta.nombreAtleta}"></td>
        <td th:text="${listarAtleta.apellidoAtleta}"></td>
        <td th:text="${listarAtleta.edadAtleta}"></td>
        <td th:text="${listarAtleta.categoria}"></td>
        <td>
            <a th:href="@{/atletash/}+${listarAtleta.idAtleta}">DETALLE</a>
            <a th:href="@{/editatleta/}+${listarAtleta.idAtleta}">EDITAR</a>
            <a th:href="@{/elimAtle/}+${listarAtleta.idAtleta}">ELIMINAR</a>
        </td>
    </tr>



</table>
</body>
</html>