<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Lista de Clubs</h1>
<table>
    <tr>
        <td>Id</td>
        <td>NombreClub</td>
    </tr>

    <tr th:each="listarClub: ${listarClub}">
        <td th:text="${listarClub.idClub}"></td>
        <td th:text="${listarClub.nombreClub}"></td>
        <td>
            <a th:href="@{/clubsh/}+${listarClub.id}">DETALLE</a>
            <a th:href="@{/editClub/}+${listarClub.id}">EDITAR</a>
            <a th:href="@{/elimClub/}+${listarClub.id}">ELIMINAR</a>
        </td>
    </tr>



</table>
</body>
</html>
