<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/atletas" method="POST">
    <b>Nombre_Atleta: </b>
    <input type="text" name="nombreAtleta"/>
    <b>Apellido_Atleta: </b>
    <input type="text" name="apellidoAtleta"/>
    <b>Edad:</b>
    <input type="text" name="edadAtleta"/>
    <!--<b>Cumpleanios:</b>
    <input type="date" name="cumpleanios"/>-->
    <b>Categoria: </b>
    <input type="text" name="categoria"/>

    <input type="submit" value="Guardar"/>
</form>
</body>
</html>